body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

main {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border:5px solid #000000;
    background-color: rgb(255, 255, 255);
    text-shadow: #6f6f6f;
    
    }

img {
    max-width: 50%;
    opacity: 90%;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

h1, h2, h3 {
    text-shadow: 1px 1px 2px red;
}

